.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
    margin-bottom: 12px;
}

.active {
    background-color: chartreuse;
}

.tableWrapper {
    overflow-x: auto;
}

.title {
    text-transform: uppercase;
}

.title h3 {
    background-color: #D496C5;
    border-radius: 6px;
    font-size: 2rem;
    margin-bottom: 12px;
    padding: 6px;
}