body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F8FCF9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

thead,
tfoot {
  background-color: #D496c5;
}

th {
  padding: 4px;
}

h3 {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

button, input[type=submit] {
    background-color: #D496C5;
    font-size: 1.5rem;
    text-transform: capitalize;
    border-radius: 6px;
    padding: 6px;
}